* {
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
}

#container {
    height: auto;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.box {
    width: 400px;
    height: auto;
    margin-bottom: 60px;
    background-color: rgb(171, 171, 171);
}

.boxContent {
    margin: 10px;
}

#header {
    display: flex;
    justify-content: center;
}

#background {
    background-color: rgb(31, 31, 31);
}

.footerContainer {
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
}

#footContentContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

