@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

/* Header */
#header {
    display:flex;
    justify-content:center;
    align-items: center;
    height: 75px;
    background-color: #b1c5e0cf;
}
#logout-button {
    margin-left:auto;
    margin-right: 20px;
    padding: 8px;
    width: 90px;
    border: 2px solid black;
    background-color: #8ba59f !important;
}

#title-home-button {
    text-decoration: none;
}

.abereto-font {
    color: rgb(51, 51, 51);
    font-family: 'Aboreto', cursive;
    margin-left: 20px;
}

/* Main Container */
#main-container {
    display: flex;
    justify-content: center;
}

.box {
    width: 400px;
    background-color: #b1c5e0cf;;
    margin-top: 60px;
    margin-bottom: 110px;
    border-radius: 8px;
    padding: 10px;
}

#inner-box {
    background-color: rgba(255, 255, 255, 0.741);
    padding: 20px;
    word-wrap: break-word;
}

.boxContent {
    margin: 20px;
}

h3 {
    font-size: 32px;
    font-weight: 600;
    color: rgba(62, 62, 62, 0.933);
}

#buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

#home-button {
    color: #5a5a5ab8;
    background-color: transparent;
    font-size: larger;
    text-decoration: none;
}

#home-button:hover {
    color: #8ba59fda;
    text-decoration: underline;
}

#submit-button {
    padding: 8px;
    width: 110px;
    background-color: #8ba59f !important;
    border: 2px solid black;
}

.field {
    height: 50px;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

#description {
    height: 120px;
}

#number-flex {
    display: flex;
    gap: 10px;
    text-align: center;
}

/* Footer */
.footerContainer {
    width: 100%;
    height: 90px;
    position: absolute;
    left: 50%;
    bottom: -45;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    background-color: #e8e8e84c;
    text-align: center;
    padding: 20px;
}

#footContentContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.linkedin-github {
    opacity: 0.6;
}